<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JQuachPortfolio</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Montaga' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Portfolio</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#code">Code</a></li>
					<li><a href="#ruby">Rails</a></li>
					<li><a href="multimedia.html">Multimedia</a></li>				
				</ul>
				<div class="btn-group navbar-right">
					<button type="button" id="setting-btn" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-cog"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Settings</a></li>
						<li class="divider"></li>
						<li><a href="#">Sign Out</a></li>
					</ul>
					<button type="button" id="signin-btn" class="btn btn-default" href="#signin-popup" data-toggle="modal">
						<span>Sign In</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="signin-popup" tabindex="-1" aria-labelledby="gallery-modelLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Remember me
							</label>
						</div>
						<button type="submit" class="btn btn-default">Sign In</button>
					</form>

				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="secondary-top"></div>

	<div class="container">
		<%= yield %>
	</div>

	<div class="footer">
    	<div class="container">
    		<p>Copyright (c) 2013</p>
    	</div>
    </div>

    <script src="javascript/jquery.js"></script>
	<script src="javascript/bootstrap.min.js"></script>

</body>
</html>
